<h2>Categories</h2>
 <div ng-show="message" class="alert alert-danger alert-dismissible fade show">
  {{message}}
 </div>
<table class="table">
	<thead>
		<tr>
			<th ng-show="categories">ID</th>
			<th ng-show="categories">Title</th>
			<th><button id="btn-add" class="btn btn-primary btn-xs" ng-click="toggle('add',0)">Add New Category</button></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="category in categories" ng-show="categories">
			<td>{{ category.id }}</td>
			<td>{{ category.title }}</td>
			<td>
				<button class="btn btn-default btn-xs btn-detail" ng-click="toggle('edit',category.id)">Edit</button>
				<button class="btn btn-danger btn-xs btn-delete" ng-click="ConfirmDelete(category.id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<!-- Modal Dialog to Add/New records -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">					
					<h4 class="modal-title" id="myModalLabel">{{form_title}}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body">
					<form name="frmCategories" class="form-horizontal" novalidate="">

						<div class="form-group">
							<label for="in_title" class="col-sm-3 control-label">Title</label>
							<div class="col-sm-12">
								<input type="text" class="form-control" id="in_title"  placeholder="Title Description" ng-model="category.title" ng-required="true">
							</div>
						</div>	
						
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="Save(modalstate, id)">Save changes</button>
				</div>
			</div>
		</div>
</div>