<h4>Dashboard</h4>
<!-- Example Pie Chart Card-->
<div class="card mb-3">
	<div class="card-header">
	  <i class="fa fa-pie-chart"></i> Deposit / Withdrawal
	</div>
	<div class="card-body">
	  <canvas id="myPieChart" width="100%" height="100"></canvas>
	</div>
	<div class="card-footer small text-muted"> Total (deposit - withdrawal) : {{ total }}</div>
</div>
