 <div class="container">
   <div ng-show="message" class="alert alert-danger alert-dismissible fade show" role="alert">
	  {{message}}
   </div>
   
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="InputUserName">Username</label>
            <input class="form-control" id="InputUserName" ng-model="login.name" type="text"  placeholder="Enter user name">
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input class="form-control" id="InputPassword" ng-model="login.password" type="password" placeholder="Password">
          </div>
          <a class="btn btn-primary btn-block" ng-click="loginSubmit()">Enter</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="#!/register">Register an Account</a>          
        </div>
      </div>
    </div>
  </div>