<h2>Transactions</h2>
 <div ng-show="hasMessage(message)" class="alert alert-danger fade show" role="alert">
  {{message}}
 </div>
<table class="table">
	<thead>
		<tr>
			<th ng-show="transactions">ID</th>
			<th ng-show="transactions">Subject</th>
			<th ng-show="transactions">Category</th>
			<th ng-show="transactions">Amount</th>
			<th ng-show="transactions">Date</th>
			<th ng-show="transactions">Type</th>
			<th><button id="btn-add" class="btn btn-primary btn-xs" ng-click="toggle('add',0)">Add New Transaction</button></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="transaction in transactions" ng-show="transactions">
			<td>{{ transaction.id }}</td>
			<td>{{ transaction.subject }}</td>
			<td>{{ transaction.category_name }}</td>
			<td>{{ transaction.amount }}</td>
			<td>{{ transaction.date }}</td>
			<td>{{ transaction.type_name }}</td>
			<td>
				<button class="btn btn-default btn-xs btn-detail" ng-click="toggle('edit', transaction.id)">Edit</button>
				<button class="btn btn-danger btn-xs btn-delete" ng-click="ConfirmDelete(transaction.id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<!-- Modal Dialog to Add/New records -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">					
					<h4 class="modal-title" id="myModalLabel">{{form_title}}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body">
					<form name="frmTransaction" class="form-horizontal" novalidate="">

						<div class="form-group">
							<label for="in_subject" class="col-sm-5 control-label">Subject</label>
							<div class="col-sm-12">
								<input type="text" class="form-control" id="in_subject"  placeholder="Subject" ng-model="transaction.subject" ng-required="true">
							</div>
						</div>

						<div class="form-group">
							<label for="in_category" class="col-sm-5 control-label">Category</label>
							<div class="col-sm-12">	
								<select  class="form-control"  data-ng-options="cat.id as cat.title for cat in categories" data-ng-model="transaction.category_id"></select>						    
							</div>
						</div>
						
					    <div class="form-group">
							<label for="in_amount" class="col-sm-5 control-label">Amount</label>
							<div class="col-sm-12">
								<input type="text" class="form-control" id="in_amount"  placeholder="Amount"  ng-model="transaction.amount" ng-required="true">
							</div>
						</div>

						<div class="form-group">
							<label for="in_date" class="col-sm-5 control-label">Date (YYYY-MM-DD)</label>
							<div class="col-sm-12">
							<input type="text" class="form-control" id="in_date" ng-model="transaction.date" ng-required="true">
							</div>
						</div>
						
						<div class="form-group">
							<label for="in_type" class="col-sm-5 control-label">Type</label>
							<div class="col-sm-12">
							<select class="form-control" id="in_type" data-ng-options="o.id as o.name for o in options" data-ng-model="transaction.type">
							</select>

							</div>
						</div>
						
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="Save(modalstate, id)">Save changes</button>
				</div>
			</div>
		</div>
</div>